@import "../../../styles/variables";
.nav-bar {
  width: 30%;
  background-color: $black;
  &__list {
    text-align: center;
  }
  &__item {
    padding-bottom: 10px;

  }
  &__link {
    color: $white;
    font-size: 16px;
    line-height: 25px;

  }
}